body {
  position: relative;
  margin: 0;
  padding: 20px;
  background-color: #010101;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  text-align: right;
}

footer .copyright {
  text-transform: uppercase;
  font-weight: 400;
}

footer .icon-links .fa-twitter {
  color: white;
  font-size: 3rem;
  margin: 10px;
}

footer .icon-links .fa-linkedin-in {
  color: white;
  font-size: 3rem;
  margin: 10px;
}

footer .icon-links .fa-envelope {
  color: white;
  font-size: 3rem;
  margin: 10px;
}

.icon-instagram {
  background-image: url('../icons/instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 2.6rem;
  padding-left: 2.6rem;
  fill: white;
  margin: 10px;
}